*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}
body {
  font-family: helvetica;
  font-weight: bold;
  font-size: 20px;
  line-height: 1em;
  text-align: center;
}
body p {
  text-align: left;
}
#topBar {
  background-color: rgba(209,122,60,0.5);
  color: rgba(209,122,60,1);
  font-size: 18px;
  text-align: left;
  height: 75px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}
.columnContainer {
  position: relative;
  /*margin: 0 auto;*/
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}
.column {
  width: 25%;
  float: left;
  /*margin: auto;*/
}
.column h3 {
  color: #3543a9;
  padding-bottom: 10px;
  padding-top: 50px;
  font-size: 22px;
}
img {
  width: 80%;
  height: 60%;
  border: 3px solid #07338c;
  margin-bottom: 5px;
}
.online {
  font-size: 15px;
  color: rgb(51,102,51);
}
.online img {
  width: 10%;
  border: 0px;
}
.link a {
  position: relative;
  top:0;
  right:0;
  float: right;
  color: red;
  padding-top: 40px;
  padding-right: 30px;
}

#friend {
  color: red;
}
